#playbutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: #58ea;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 84px;
    font-size: 48px;
    cursor: pointer;
    
}
#playbutton:before,
#playbutton:after{
content: '';
display: block;
position: absolute;
border: 50%;
border: 1px solid #58ea;
left: -80px;
right: -80px;
top: -80px;
bottom: -80px;
border-radius: 50%;
animation: animate 1.5s linear infinite;
opacity: 0;
backface-visibility: hidden;
 
}

#playbutton:after{
    animation-delay: .5s;
}

#playbutton.playing {
    background: rgba(18, 19, 20, 0.667);
      
  }
  
  #playbutton.playing::before, #playbutton.playing:hover::before {
    content: '';
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #58ea;
    left: -80px;
    right: -80px;
    top: -80px;
    bottom: -80px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
  }

@keyframes animate
{
 
    0%
    {
        transform: scale(0.5); 
        opacity : 0;
    }
    50%
    {
        opacity : 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity : 0;
    }
}